<div class="book shadow d-flex flex-column justify-content-start">
	<img src="images/911o1h5gIzL._AC_UF1000,1000_QL80_.jpg" />
	<div class="d-flex w-100 flex-column align-items-start px-2 pt-2">
		<p class="text-uppercase" style="margin-bottom: 5px; font-size: 12px; letter-spacing: 2px; font-weight: 400">Uma mulher no escuro</p>
		<p class="text-capitalize" style="margin-bottom: 10px; font-size: 14px; font-weight: 300">Raphael Montes</p>
		<button class="btn btn-primary text-capitalize w-100 p-0" style="height: 25px; font-size: 14px">Detalhes</button>
	</div>
</div>

@code {

}
