<div class="d-flex flex-row justify-content-center align-items-center gap-2" style="width: 40%">
	<input style="width: 100%" id="search" class="form-control text-muted" placeholder="Digite o nome do livro" />
	<button class="btn btn-primary text-uppercase">Buscar</button>
</div>

@code {

}
