@page "/"

<PageTitle>EasyBook</PageTitle>

<div class="d-flex gap-5 flex-column justify-content-start align-items-center pt-5 w-100 h-100">
	<SearchInput/>
	<div class="w-75 d-flex flex-row flex-wrap gap-5 justify-content-start align-items-center mb-3">
		<Book />
		<Book />
		<Book />
		<Book />
		<Book />
		<Book />
		<Book />
		<Book />
		<Book />
	</div>
</div>